@font-face {
  font-family: Poenix;
  src: url(bravephoenixw/bravephoenix.ttf);
}

@font-face {
  font-family: Nexa;
  src: url(nexa/Nexa-ExtraLight.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat/Montserrat-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr (3 repeat);
  grid-template-areas: "container container container";
}

.container {
  grid-area: container;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.fundp-black {
  display: none;
}

.copyform {
  position: absolute;
  text-align: center;
  bottom: 0px;
}

.copyform h1 {
  font-family: Poenix;
  font-size: 45px;
  background-image: linear-gradient(to right, #fe241b, #ee8801);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 4px;
  padding: 5px;
}

.copyform h2 {
  font-family: Montserrat;
  font-size: 20px;
  color: white;
  font-weight: 500;
  padding: 5px;
  line-height: 25px;
  padding: 5px;
}

.copyform h3 {
  color: rgb(156, 155, 155);
  font-size: 10px;
  line-height: 16px;
  padding-bottom: 5px;
  font-family: Nexa;
  letter-spacing: 0.6px;
}

.copyform p {
  color: white;
  font-family: Montserrat;
  font-weight: 200;
  font-size: 10px;
  padding: 7px;
}

.copyform form {
  padding: 10px;
  align-items: center;  
}

#campo-nome {
  border: 0;
  border-radius: 2px;
  background: #272727;
  font-size: 10px;
  outline: none;
  width: 200px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  padding-left: 15px;
  color: white;
}

#botton {
  border: 0;
  border-radius: 2px;
  background: linear-gradient(to right, #fe241b, #ee8801);
  font-size: 10px;
  color: white;
  width: 160px;
  height: 40px;
  display: inline-block;
}

#workshop {
  color: white;
  font-family: Nexa;
  font-size: 16px;
  letter-spacing: 1.5px;
}

i {
  background-image: linear-gradient(to right, #fe241b, #ee8801);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

span {
  background-image: linear-gradient(to right, #fe241b, #ee8801);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Fim da Sessão 1*/

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    body {
      background: black;
    }
  
    .banner img {
      width: 100%;
      position: relative;
      right: 0px;
      display: block;
    }
  
    .fundo-black {
      width: 100%;
      height: 200px;
      background: black;
      display: block;
    }
  
    .container h1 {
      position: absolute;
      font-size: 35px;
      bottom: 663px;
      left: 40px;
    }
  
    #workshop {
      position: absolute;
      bottom: 705px;
      left: 120px;
    }
  
    .container h2 {
      position: absolute;
      font-size: 15px;
      bottom: 615px;
      left: 63px;
      line-height: 20px;
    }
  
    .copyform h3 {
      position: absolute;
      font-size: 11px;
      bottom: 575px;
      left: 40px;
    }
  
    .copyform form {
      position: relative;
      bottom: 515px;
    }
  
    .container p {
      position: absolute;
      font-size: 11px;
      bottom: 485px;
      left: 55px;
    }
  
  }

  


